In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("train.csv",index_col='Id')
test=pd.read_csv("test.csv",index_col='Id')

In [3]:
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
x=df[features]
y=df['SalePrice']
testing_features=test[features]

In [4]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [22]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error,r2_score
# Define the models
models={'model_1': RandomForestRegressor(n_estimators=50),
        'model_2' : RandomForestRegressor(n_estimators=100, random_state=0),
        'model_3' : RandomForestRegressor(n_estimators=100, criterion='mae', random_state=0),
        'model_4' : RandomForestRegressor(n_estimators=200, min_samples_split=20, random_state=0),
        'model_5' : RandomForestRegressor(n_estimators=100, max_depth=7, random_state=0)}

In [23]:
for name, model in models.items():
    model_prep=model.fit(x_train,y_train)
    y_pred = model_prep.predict(x_test)
    print(f"{name} Mean Absolute Error:  {mean_absolute_error(y_test,y_pred)}\n")
    print(f"{name} r2_score:  {r2_score(y_test,y_pred)}\n")

model_1 Mean Absolute Error:  24078.701376712328

model_1 r2_score:  0.7875342401668188

model_2 Mean Absolute Error:  23740.979228636657

model_2 r2_score:  0.7923225652100044

model_3 Mean Absolute Error:  23528.78421232877

model_3 r2_score:  0.7993347351649742

model_4 Mean Absolute Error:  23996.676789668687

model_4 r2_score:  0.7664169073535742

model_5 Mean Absolute Error:  23706.672864217904

model_5 r2_score:  0.7824791670349848

In [19]:
my_model= RandomForestRegressor(n_estimators=100, criterion='mae', random_state=0)

In [20]:
my_model.fit(x, y)

# Generate test predictions
preds_test = my_model.predict(testing_features)

# Save predictions in format used for competition scoring
output = pd.DataFrame({'Id': testing_features.index,
                       'SalePrice': preds_test})
output.to_csv('submission.csv', index=False)

In [21]:
results=pd.read_csv("submission.csv")
results

        Id  SalePrice
0     1461  119433.08
1     1462  158367.50
2     1463  185351.21
3     1464  178343.12
4     1465  192898.29
...    ...        ...
1454  2915   86155.00
1455  2916   89050.00
1456  2917  156296.92
1457  2918  132232.50
1458  2919  230870.60

[1459 rows x 2 columns]